.staff{
    background-color: rgb(165, 164, 164);
    font-family: 'Roboto Mono', monospace;
}

#empleados{
    padding-top: 90px;
}

#Nuestra{
    color: white;
    font-family: 'Roboto Mono', monospace;
}

#Barra{
    position: fixed;
    z-index: 1200;
    width: 100%;
}

.row{
    margin-right: 0%;
}